@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);

.topbar {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    height: 33px;
    line-height: 33px;
}

#header {
    background-color: #67BCDB;
    vertical-align: middle;
    font-size: 24px;
    padding: 20px 0;      
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-horizontal .form-control
{
    position: relative;
    font-size: 14px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #151515;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;  
}
.need-help
{
    margin-top: 10px;
    font-size:14px;
    color: salmon;
}

a.need-help:hover {
    color: #4BAFCD !important;
}

body {
    padding-top: 150px;
    padding-bottom: 40px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    #color: #34495e;
    background: #C6CFD6;
}

a {
    color: #c52d2f;
    -webkit-transition: color 300ms, background-color 300ms;
    -moz-transition: color 300ms, background-color 300ms;
    -o-transition:  color 300ms, background-color 300ms;
    transition:  color 300ms, background-color 300ms;
}

a:hover, a:focus {
    color: #d43133;
}

@media (max-width: 768px) {
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}   

.panel-default > .panel-heading-custom {
    background: #c52d2f;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    #border-radius: 4px 4px 0px 0px;
    #border-bottom: 1px solid #fff;
}

.panel-default > .panel-heading-custom1 {
    background: #C6CFD6;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    #border-radius: 4px 4px 0px 0px;
    #border-bottom: 1px solid #0074BD;
}

.panel-heading h2 {
    width: 100%;
    font-size: 14pt;
    text-align: left;
    color: white;
    line-height: 1.0;
    font-weight: normal;
}

.villagefont {
    font-size: 14px;
    font-weight: bold;
}

.username {
    padding: 5px 12px;
    margin: 0;
    border-radius: 3px;
    color: #FEE202;
    line-height: 24px;
    display: inline-block;
    font-size: 16px;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background: #151515;
    padding: 15px 0;
    padding-bottom: 0;
}

.navbar-nav{
    margin-top: 12px;
 }

.navbar-nav>li{
    margin-left: 35px;
    padding-bottom: 28px;
}

.navbar-inverse .navbar-nav > li > a {
    padding: 5px 12px;
    margin: 0;
    border-radius: 3px;
    color: #fff;
    line-height: 24px;
    display: inline-block;
}

.navbar-inverse .navbar-nav > li > a:hover{
    background-color: #c52d2f;
    color: #fff;
}

.navbar-inverse {
    border: none;
}

.navbar-inverse .navbar-brand {
    font-size: 36px;
    color: #fff;
}

.navbar-brand {
  padding: 0;
  margin:0;
  padding-top: 0;
  padding-bottom: 3px;
  padding-left: 5px
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #c52d2f;
    color: #fff;
}


.navbar-nav a { font-weight: 400; font-size: 15px; }


.heading-village {
    background-color: #c52d2f;
    color: #fff;
    line-height: 55px;
}

.glyphicon-village{
    color: #fff;
}

.delete-icon{
    background: #C6CFD6;
    color: red;
    font-size: 15px;
    white-space: normal;
    word-wrap:break-word;
    font-weight: normal;
    border-radius: 4px;
    border:none;
    margin-top: 10px;
}

.navbar-fixed-top {
    min-height: 75px;
    vertical-align: "center"
}

.btn-primary {
    background: #c52d2f;
    color: #fff;
    font-size: 15px;
    white-space: normal;
    word-wrap:break-word;
    font-weight: normal;
    border-radius: 4px;
    border:none;
    margin-top: 10px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #c52d2f;
    color: #fff;
    font-weight: bold;
    outline: none;
    box-shadow: none;
}

.btn-primary-contact {
    background: #003031;
    color: #fff;
    font-size: 15px;
    white-space: normal;
    word-wrap:break-word;
    font-weight: normal;
    border-radius: 4px;
    border:none;
    margin-top: 10px;
}

.btn-primary-contact:hover, .btn-primary-contact:focus, .btn-primary-contact:active, .btn-primary-contact.active, .open > .dropdown-toggle.btn-primary-contact {
    background: #c52d2f;
    color: #fff;
    font-weight: bold;
    outline: none;
    box-shadow: none;
}

.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
    color: #111;
    text-decoration: none;
    outline: none;
}