{% extends 'addressdb/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="account-wall" align="center">
			<font color="#FEE202" size="10px"><strong>Thanks.</strong></font>
			<p class="villagefont"><strong><font color="#E0E0EA">Your message was sent successfully and we appreciate you contacting us. We will be in touch soon.</font></strong></p>
		</div>
		
	</div>
</div>
{% endblock %}