{% extends 'addressdb/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Incomplete Registration Report | {{ block.super }}{% endblock %}

{% block css %}
<style type="text/css">
	table {
	    border: 1px solid black;
	    table-layout: fixed;
	    width: 200px;
	}

	th {
		background-color: #c52d2f; 
		color: #fff;
	}

	tr {
		background-color: #fff; 
	}

	td {
		word-wrap: break-word;
		overflow: hidden;
    	width: 100px;
	}	

	.noBorder {
	 	border: 0;
	 	text-align:center;
	 	background-color: #151515;
	 	color: #FEE202;
	 	font-size: 18px;
	}
</style>
{% endblock css %} 

{% block content %}
		<div id="incomplete">
			<h2><center><strong><font color="#003300">Incomplete Registration Report</font></strong></center></h2>
			<br/><br/>
			<div class="table-responsive">
				<table id="userdata" class="table table-bordered table-striped" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="noBorder villagefont" colspan="4">Total - {{ object_list|length }}</th>
						</tr>
			      		<tr>
			      			<th>Id</th>
			        		<th>User Name</th>
			        		<th>Joined</th>
			        		<th>Last Login</th>
			      		</tr>
			    	</thead>	
				
					<tbody>   
						{% for user in object_list %}
							<tr>
								<td class="villagefont">{{ user.id }}</td>
					            <td class="villagefont">{{ user.username }}</td>
					            <td class="villagefont">{{ user.date_joined }}</td>
					            <td class="villagefont">{{ user.last_login }}</td>
				    		</tr>
				    	{% endfor %}
					</tbody> 				
				</table>
			</div>
		</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(document).ready(function() {
    		$('#userdata').DataTable({
    			order: [[ 2, "asc" ]],
    			paging:   false,
    			info: false,
    			lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
    			dom: 'Bfrtip',
        		buttons: [
            		'csv', 'excel', 'print'
        		]
    		});

    		var loc = window.location.href;
    		$(".navbar .navbar-nav > li").each(function() {
      			if (loc.match('/incomplete_report')) { // software is the name of the page/slug
        			 $('.nav.navbar-nav > li').removeClass('active');
        			$('#reports').addClass("active"); 
        		}
   			});
		} );

		$(function() {
    		$( "#tabs" ).tabs();
  		});
	</script>
{% endblock js %}