{% extends 'addressdb/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}Register | {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading panel-heading-custom">
					<h2 class="panel-title">Contact Form</h2>
				</div>
				<div class="panel-body">
					{% crispy form %}
				</div>
			</div>
        	
        	<!--form action="" method="POST" enctype="multipart/form-data">
            	{% csrf_token %}
             	<table> {{ contact_form.as_p }} </table>
             	<table> {{ person_form.as_p }} </table>
             	<input type="submit" value="insert">
         	</form-->
    </div>
</div>
{% endblock %}
